/* your code */
body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}
.table-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
	

}

th,
td {
    border: 1px solid #999;
    padding: 12px;
}

th {
    background-color: #3498db;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dff0ff;
}

td {
    color: #333;
}